.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.log-container {
  width: 800px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  white-space: pre-wrap;
  text-align: left;
  line-height: 1.5;
}

.log-paragraph {
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.5;
}